body{
  display: flex;
  justify-content: center;
  background:black;
  height:100%;
}
html{
  height:100%;
  
}
/* iframe {
  width:95vh;
  height:95vh;
  
} */
iframe {
  height:100%;
  width:100%;
}
#holder {
  display:flex;
  height:100%;
  width:100%;
}
#holder div{
  width:100%;
}
.subholder{
  height:100%;
  width:100%;
}
p{
  color:white;
  position:absolute;
  z-index: 50;
  padding:5px;
  margin:2%;
  background: black;
  border-radius:5px;
  font-size: 32px;
  border:1px solid white;
}
h2{
  color:white;
}
#footer {
  margin:0 auto;
}
#outer {
  width:100%;
  display:flex;
  flex-direction: column;
}